<div id="signUpModal" class="reveal-modal" data-reveal>
  <h2>Welcome to AnyQ</h2>
  <p class="lead">Sign Up Below</p>
  <ul class="button-group">
    <li><a href="#" class='button'>Sign Up With Github</a></li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

